4413-Project/WebContent/wsdl/Model.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getProductInfo">
    <complexType>
     <sequence>
      <element name="bid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductInfoResponse">
    <complexType>
     <sequence>
      <element name="getProductInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProductInfoResponse">

      <wsdl:part element="impl:getProductInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductInfoRequest">

      <wsdl:part element="impl:getProductInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Model">

      <wsdl:operation name="getProductInfo">

         <wsdl:input message="impl:getProductInfoRequest" name="getProductInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductInfoResponse" name="getProductInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ModelSoapBinding" type="impl:Model">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProductInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ModelService">

      <wsdl:port binding="impl:ModelSoapBinding" name="Model">

         <wsdlsoap:address location="http://localhost:8080/4413-Project/services/Model"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
